body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 250px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  background-color: #1f2937;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f9faf8;
  padding-left: 250px;
}

.box1 {
  display: flex;
  background-color: #1f2937;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 200px;
}
.pic1 {
  width: 700px;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}
.text {
  color: #e5e7eb;
  margin: 50px 0px;
}
.placeholder {
  width: 600px;
  height: 250px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlestyle {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.b1 {
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 15px;
  font-weight: bolder;
  /* border: #f9faf8; */
}

.box2 {
}

.information {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 70px 0px;
}

.images {
  display: flex;
  padding: 0px 250px;
  gap: 70px;
  justify-content: center;
}

.images1 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.placeholder1 {
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.text1 {
  margin: 20px;
  text-align: center;
}
